/* Header.module.css */
.header {
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.IconHeader{
    display: flex;
    align-items: center;
}
.storeInfo h1 {
    margin: 0;
    font-size: 24px;
}

.storeInfo p {
    margin: 5px 0;
}

.socialLinks a {
    margin-right: 10px;
    text-decoration: none;
    color: #333333;
}

.cartIcon {
    cursor: pointer;
    margin: 0 10px;
}

.headerBottom {
    background-color: #EEEEEE;
    height: 60px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style: none;
    margin: 0;
}

.submenuHead{
    position: relative;
}

.menu li a {
    color: #333333;;
    text-decoration: none;
    padding: 10px 20px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #EEEEEE ;
    list-style: none;
    padding: 10px;
    margin: 0;
    width: 150px;
}

.menu li:hover .submenu,
.submenu:hover {
    top: 30px;
    left: -30px;
    display: flex;
    flex-direction: column;
}
.submenu li {
    margin: 15px 0;
    width: 100%;
}
.submenu li a {
    padding: 5px 10px;
    color: #333333;
    width: 100%;
}